#arrow {
    transition: transform 300ms ease-in-out;
    transform: rotate(0deg);

    &.rotateDown {
      transform: rotate(-90deg);
    }

    &:not(.rotateDown) {
      transform: rotate(0deg);
    }
  }
