#arrow {
    transition: transform 400ms ease-in-out;
    transform: rotate(0deg);

    &.rotateDown {
      transform: rotate(180deg);
    }

    &:not(.rotateDown) {
      transform: rotate(0deg);
    }
  }
